@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: dark;
}

li,a,button,section {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #edf0f1;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #333;
    background-color: #edf0f1;
}

.content h1 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #121212;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.logo {
    order: 3;
    margin-left: auto;
}

.logo a {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

nav {
    order: 1;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #ff6b6b;
    padding: 0.3rem 0rem;
    border-bottom: 2px solid #ff6b6b;
    transition: border-bottom 0.2s ease-in-out;
}

.nav__links-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    order: 2;
    margin-left: 2rem;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 100vw;
    background-color: #ff6b6b;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #edf0f1;
    color: #24252a;
}

.nav-open,
.nav-close {
    display: none;
}

/* responsive */
@media screen and (max-width: 768px) {
    header {
        justify-content: flex-end;
        padding: 1.2rem 2rem;
    }
    .logo {
        margin-left: auto;
    }
    .nav__links {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: rgba(65, 71, 103, 0.7);
        backdrop-filter: blur(5px);
        padding: 1rem 2rem;
        width: 100%;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
        z-index: 100;
    }
    .nav__links li a:hover {
        color: #b6e32f;
        border-bottom: 2px solid #b6e32f;
    }
    .nav__links-btn {
        display: flex;
        gap: 0.2rem;
    }
    .nav__links-btn button {
        padding: 0.5rem 1rem;
        transform: scale(0.9);
    }
    .nav__links-btn button:hover {
        background-color: #ff6b6b;
        color: #edf0f1;
    }
    .nav-open {
        display: block;
    }
    .nav-open,
    .nav-close {
        cursor: pointer;
    }
}